<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/88807928-847f-4ae6-925c-5291cb9b1ef1/resourcegroups/zespolowy/providers/Microsoft.ContainerRegistry/registries/DiscordBot20210620214031</ResourceId>
    <ResourceName>DiscordBot20210620214031</ResourceName>
    <ResourceGroup>zespolowy</ResourceGroup>
    <Subscription>Azure dla studentów</Subscription>
    <RegistryUrl>https://discordbot20210620214031.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
  </PropertyGroup>
</Project>